extends layout 

block content 

  h1= title 

  if errors 
    each err in errors
      p=err.msg

  form(action="?", method="post") 
    label Name: 
      input(type="text", name="name", value=category ? category.name : '', required)
    label Description: 
      textarea(name="desc", cols="30", rows="10" placeholder='Category description', required) #{category ? category.desc : ''} 
    button(type="submit") Submit