doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrapper
      .sideBar 
        a(href='/') Home 
        a(href='/catalog/dinos') Dinos 
        a(href='/catalog/categories') Categories 
        a(href='/catalog/lifeperiods') LifePeriods

        if locals.isLoggedIn
          p ------- 
          p add new
          a(href='/catalog/dino/create') Dino 
          a(href='/catalog/category/create') Category 
          a(href='/catalog/lifeperiod/create') LifePeriod
          form(action="/logout", method="post")  
            label= `logged in as ${locals.user}`
              input(type="hidden")
            button(type="submit") Logout
        else
          if !(currentUrl === '/login')
            a(href='/login') Login
         
      
      
      
      .content
        block content

    
      
