extends layout 

block content 

  h1= title

  dl 
    each entry in entries 
      dt 
        a(href= entry.url) #{entry.name} 
      if entry.span 
        dd= `( ${entry.span} )`
      dd= entry.desc

  