extends layout 

block content 

  h1 Login 

  if error 
    p= error

  form(action="?", method="post")
    label UserName :
        input(type="text", name="name", value= name || '', required) 
    label Password :
        input(type="password", name="password", required)
    button(type="submit") Login